.App {
  display: flex;
  justify-content: space-evenly;
}

.clickArea {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.clickArea span {
  font-size: 42px;
  align-self: center;
  margin-bottom: 25px;
}

.clickArea button {
  padding: 25px;

}